<!-- navbar de bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio" routerLinkActive="active"><i class="far fa-futbol"></i> EnSoccerPedia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        <a class="nav-link" routerLink="/jugadores" routerLinkActive="active">Jugadores</a>
        <a class="nav-link" routerLink="/clubes" routerLinkActive="active">Clubes</a>
      </div>
    </div>
  </div>
</nav>
<div style="background-image: url('https://p4.wallpaperbetter.com/wallpaper/845/312/843/field-grass-markup-lawn-wallpaper-preview.jpg');">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="page-footer font-small blue pt-4 bg-success text-light mt-0">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">EnSoccerPedia informa: </h5>
        <p>somos una página de aficionados para aficionados, la página oficial de la liga mx la encuentras en el siguiente enlace: <a href="https://www.ligamx.net" target="_blank" id="linkmx">Ligamx</a></p>
      </div>
        <!-- Copyright -->
      <div class="footer-copyright col-md-6 mt-md-0 mt-3">
        © 2021 EnSoccerPedia:
      </div>
    <!-- Copyright -->
    </div>
    <!-- Grid row -->
  </div>
</footer>